<ul>
  <li class="personal-detail">
    <i class="icon-profile"></i>
    {{nationality}}
  </li>
  <li class="personal-detail">
    <i class="icon-birthday-cake"></i>
    {{dob}}
  </li>
  <li class="personal-detail">
    <i class="icon-mobile"></i>
    {{contact}}
  </li>
  <li class="personal-detail">
    <i class="icon-home"></i>
    {{location}}
  </li>
</ul>