<h4 class="section-heading">PROJECTS HANDLED</h4>
<ul class="project-list">
  {{#each items}}
  <li class="project-list-item">
    <h6 class="project-list-heading">
      <span>{{name}}</span>
      <span>{{role}}</span>
    </h6>
    <p class="description-text">
      {{details}}
    </p>
  </li>
  {{/each}}
</ul>