<h4 class="section-heading">
  QUALIFICATION
</h4>
<h6 class="push-down-15">
  <span class="text-pink">
    Bachelor of Engineering in Information Technology
  </span>
  <span class="date">
    August 2017 - June 2011
  </span>
</h6>

<h6>
  ABES Engineering College (UPTU), Ghaziabad, India.
</h6>