$base-black: #575759;
$grey-dark: #4b494d;
$grey: #999c9f;
$grey-lighter: #979a9d;

$bg-grey: #f4f3f4;
$text-color-light: #807f82;

$pink: #ec018b;
$white: #ffffff;
// font size
$font-small: 12px;
$font-base: 16px;
$font-large: 30px;
